<footer class="bg-[#f3f3f3]">

  <div class="flex flex-col sm:flex-row justify-around text-left p-4 sm:p-10 gap-4">

      <div>

        <div class="flex flex-row justify-between">

          <div class="flex flex-row gap-2">
            <img src="/logo.png" alt="logo" width="24" height="24">
            <p class="text-lg font-semibold text-center items-center pr-16">Logo</p>
          </div>

          <div class="flex flex-row gap-2 sm:hidden">
            <a href="#" target="_blank"><img src="/twitter.png" alt="twitter"  width="20" height="20"></a>
            <a href="#" target="_blank"><img src="/linkedin.png" alt="linkedin"  width="20" height="20"></a>
            <a href="https://github.com/fikfan/food-blog-app" target="_blank">
              <img src="/gh.png" alt="" width="20" height="20">
            </a>
          </div>

        </div>

        <div>
          <p class="py-10 hidden sm:flex">
            We are one of the leading interior design and remodeling studios
            available for all of your residential and commercial interior design
            needs.
          </p>
          <p class="hidden sm:flex">&copy 2021 id Studio. All Rights Reserved.</p>
        </div>

      </div>

      <div class="text-sm sm:text-base hidden sm:flex sm:flex-col">
        <div class="pb-4 space-y-1">
          <p class="text-sm sm:text-lg font-bold pb-3">Navigation</p>
          <p>About</p>
          <p>Services</p>
          <p>Portfolio</p>
          <p>Pricing</p>
          <p>Testimonials</p>
        </div>

        <div class="flex justify-between">
          <a href="#" target="_blank" class="hover:invert"><img src="/twitter.png" alt="twitter" width="20" height="20"></a>
          <a href="#" target="_blank" class="hover:invert"><img src="/linkedin.png" alt="linkedin" width="20" height="20"></a>
          <a href="https://github.com/fikfan/food-blog-app" target="_blank" class="hover:invert">
            <img src="/gh.png" alt="" width="20" height="20">
          </a>
        </div>
      </div>

      <div class="text-sm sm:text-base space-y-2">
        <p class="sm:text-lg font-bold sm:pb-4">Contacts</p>
        <p class="font-semibold">Address</p>
        <p>No 420, Lorong Mat Saleh, Taman Kemena Raya, 99420 Sibu</p>
        <p class="font-semibold">Email</p>
        <p>howtocode@gmail.com</p>
        <p class="font-semibold">Phones</p>
        <p>(+61) 478 648 537 or (+60) 13-234 5030</p>
      </div>

      <p class="text-sm sm:text-base sm:hidden">&copy 2021 id Studio. All Rights Reserved.</p>

  </div>

</footer>
