<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<header class="bg-cyan-400">
    <nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
      <div class="flex justify-between items-center">
        <span class="text-2xl">
          <img class="h-10 inline" src="../logo.png" alt="logo.png">
          <p class="h-10 inline">LOGO</p>
        </span>
  
        <span class="text-3xl cursor-pointer mx-2 md:hidden block" id="hamburger">
          <ion-icon name="menu"></ion-icon>
        </span>
      </div>
  
      <ul id="menuList" class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500 ">
        <li class="mx-4 my-6 md:my-0">
          <a href="#" class="text-xl hover:text-cyan-500 duration-300">SERVICES</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#" class="text-xl hover:text-cyan-500 duration-300">PORTFOLIO</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a href="#" class="text-xl hover:text-cyan-500 duration-300">PRICING</a>
        </li>
      </ul>
      <span class="mx-2 md:flex md:items-center z-[-1] md:z-auto md:static absolute gap-2">
        <div>(303) 555-0105</div>
        <div>example@website.com</div>
        <div>EN</div>
    </span>
    </nav>
  </header>
  
  <script>
    function toggleMenu() {
      let list = document.getElementById('menuList');
      list.classList.toggle('top-[80px]');
      list.classList.toggle('opacity-100');
    };

    document.getElementById('hamburger').addEventListener('click', toggleMenu);
  </script>